.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar {
    width: 280px;
    height: 100vh;
    transition: transform 0.3s ease;
    background-color: #212529;
    z-index: 1040;
}

.sidebar-open {
    transform: translateX(0);
}

.sidebar-closed {
    transform: translateX(-100%);
}

.contenido-principal {
    transition: margin-left 0.3s ease;
    padding: 1rem;
    width: 100%;
}
F .con-sidebar {
  margin-left: 280px; /* mismo ancho que tu sidebar */
}
